.is-100 {
    font-weight: 100;
}

.is-200 {
    font-weight: 200;
}

.is-300 {
    font-weight: 300;
}

.is-400 {
    font-weight: 400;
}

.is-500 {
    font-weight: 500;
}

.is-600 {
    font-weight: 600;
}

.is-700 {
    font-weight: 700;
}

.is-800 {
    font-weight: 800;
}

.is-900 {
    font-weight: 900;
}

img.is-rounded, 
figure.is-rounded img{
    border-radius: 25%;
}