#main-hero {
    background-size: cover;
    background-position: center center;
    -webkit-box-shadow: inset 0px -40px 39px -45px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -40px 39px -45px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -40px 39px -45px rgba(0, 0, 0, 0.75);
}

.logo-header {
    width: 300px;
    margin-bottom: 10px;
}

.button {
    font-weight: 300;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content-master {
    flex: 1 0 auto;
}

footer.footer {
    flex-shrink: 0;
}

.float-img {
    position: absolute;
    right: 25px;
    top: 40px;
    z-index: 50;
    @media (min-width: $tablet) {
        height:50px;
    }
    img {
        height: 40px;
        @media (min-width: $tablet) {
            height:50px;
        }
    }
    &.is-avatar {
        right: 125px;
        img {
            border-radius: 5px;
        }
        @media (min-width: $tablet) {
            height: 50px;
            right: 90px;
        }
    }
    &.is-logout {
        //top: 90px;
        right: 75px;
        img {
            border-radius: 5px;
        }
        @media (min-width: $tablet) {
            top: 100px;
            right: 25px;
        }
    }
    &.is-login {
        //top: 100px;
        right: 75px;
        @media (min-width: $tablet) {
            top: 100px;
            right: 25px;
        }
        img {
            border-radius: 5px;
        }
    }
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike>span {
    position: relative;
    display: inline-block;
}

.strike>span:before,
.strike>span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #7c7c7c;
}

.strike>span:before {
    right: 100%;
    margin-right: 15px;
}

.strike>span:after {
    left: 100%;
    margin-left: 15px;
}

#logos-nosotros {
    .image.logo {
        max-height: 60px;
        margin: 0 auto;
    }
}

.logo-sf-float {
    position: absolute;
    float: right;
    top: 15px;
    right: 15px;
}

table.table.text-middle td{
vertical-align: middle;
figure{
    vertical-align: middle;
}
}