// Custom variables
// Please watch out ot not use same variables as bulma.
// http://bulma.io/documentation/overview/variables/


// Bulma variables override
$primary: #5d6faf;

$body-size: 14px;
$family-sans-serif: 'Roboto', 'Segoe UI', BlinkMacSystemFont, -apple-system, "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: 'Ubuntu Mono', monospace;

$subtitle-weight: 300;

$navbar-item-img-max-height: 2.2rem;