<p style="font-family: sans-serif; font-size: 12px; font-weight: normal; margin: 0; Margin-bottom: 12px;background: #fffae2;padding: 10px;border-left: 5px solid #FB8646;font-style: italic;border-radius: 5px;">{{text}}</p>
