<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title is-3">{{content[0].title}}</h1>
                <p>{{content[0].body}}</p>
            </div>
            <div class="column has-text-centered">
                <h1 class="title is-3">{{content[1].title}}</h1>
                <p>{{content[1].body}}</p>
            </div>
        </div>
    </div>
</section>
