<section id="logos-nosotros" class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <a href="http://virtuagora.org">
            <img src="{{asset('img/logo-virtuagora-comic.svg')}}" class="image logo" alt="">
          </a>
        </div>
        <div class="column has-text-centered">
          <a href="https://web.facebook.com/GabineteJoven">
            <img src="{{asset('img/gabinetejoven-comic.svg')}}" class="image logo" alt="">
          </a>
        </div>
        <div class="column has-text-centered">
          <a href="http://www.santafe.gob.ar/index.php/web/content/view/full/114387/">
            <img src="{{asset('img/ingenia-logo5.svg')}}" class="image logo" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Hecho con
        <i class="fas fa-heart"></i> por
        <a href="https://virtuagora.org">Virtuágora</a>
        e 
        <a href="http://www.santafe.gob.ar/index.php/web/content/view/full/114387/">Ingenia</a>
        del
        <a href="https://web.facebook.com/GabineteJoven">Gabinete Joven</a>
        <br>
        Virtuágora se distruye bajo licencia MIT.
      </p>
      <a href="https://virtuagora.org"><img src="{{asset('img/logo-v.svg')}}" class="image is-32x32 is-centered" alt=""></a>
    </div>
  </div>
</footer>