<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="container">

    <div class="navbar-brand">
      <a class="navbar-item" href="{{base_url()}}">
        <img src="{{asset('img/ingenia-logo5.svg')}}" alt="Ir al inicio" class="image">
      </a>

      <button class="button navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="navbar-start">
      
    </div>
    <div class="navbar-end">
{% if subject.id %}
      <a class="navbar-item" href="">
        250&nbsp;&nbsp;
        <span class="icon">
          <i class="em em-muscle"></i>
        </span>
      </a>
      <a class="navbar-item" href="">
        <img src="https://pbs.twimg.com/profile_images/908495954524983297/nSinJTho_400x400.jpg" class="is-rounded" alt="">
      </a>
      <a class="navbar-item is-hidden-desktop-only" href="{{path_for('showLogin')}}">
        <span class="icon">
          <i class="fas fa-sign-out-alt fa-lg"></i>
        </span>
      </a>
      {% else %}
      <a class="navbar-item is-hidden-desktop-only" href="{{path_for('showLogin')}}">
        <span class="icon">
          <i class="fas fa-sign-in-alt fa-lg"></i>
        </span>
        &nbsp;Entrar
      </a>
      {% endif %}

    </div>
  </div>
</nav>
