<html>
  <head>
    <title> 
      Holis
    </title>
  </head>
  <body>
    <form action="/fb-register" method="post">
      <input type="text" name="token" value="{{token}}"><br>
      <input type="submit" value="Submit">
    </form> 
  </body>
</html>