<h3 class="title">09/05/2018 - v. 1.2:</h5>
<p>CAMBIOS MAYORES:</p>
<ul>
  <li>
    Para los que se registraron con <i class="fab fa-facebook fa-fw"></i> Facebook que requerían verificar su email: Debido a la demanda de varios usuarios que no contaban con correo electrónico, el Gabinete Joven ha habilitado que puedan utilizar su perfil de facebook como identidad. Por lo tanto, ya no requieren tener una cuenta de email si se han registrado con Facebook.
  </li>
  <li>
    Por demanda, se aumentó el limite de caracteres del nombre de una organización a 100 caracteres.
  </li>
<li>
  Por último, hemos arreglado un conjunto de bugs y errores visuales de la App.
</li>
</ul>
<a href="{{path_for('showAyuda')}}#log" class="button is-white is-fullwidth is-outlined">Leer la bitácora de cambios anteriores</a>