<h3 class="title">09/05/2018 - v. 1.3:</h5>
<p>CAMBIOS MAYORES:</p>
<ul>
  <li>
    Arreglado el error que para la carta de aval de la organizacion o para la carta de conformidad no se verificaba en el momento la subida. Ahora cuando subas las cartas, al recargar, te va a decir si esta subida o no.
  </li>
</ul>
<p>Muy pronto vamos a subir otras mejoras, como por ejemplo que puedan verificar que las cartas hayan sido subidas. (Van a poder descargarlas) Y una version impresa del proyecto con todos los datos.</p>
<a href="{{path_for('showAyuda')}}#log" class="button is-white is-fullwidth is-outlined">Leer la bitácora de cambios anteriores</a>