{# set show_footer = true #}
{% set show_navbar = false %}
{# set body_class = '' #}

{% extends 'master.twig' %}

{% block body %}
  {% include "ingenia/index/header.twig" %}
  <div class="container">
    <section class="section">
      <pre>
        {{ dump() }}
      </pre>
      <catalogo></catalogo>
    </section>
  </div>
{% endblock %}