{# set show_footer = true #}
{# set show_navbar = true #}
{# set body_class = '' #}
{% extends 'master.twig' %}
{% block
title %}Login{% endblock %}
{% block body %}
    <div class="vue-component hero is-primary is-bold is-fullheight">
        <div class="hero-body has-text-centered">
            <div class="container">
                <div class="columns">
                    <div class="column is-6-tablet is-offset-3-tablet is-4-desktop is-offset-4-desktop">
                        <img alt="" class="image login-logo" src="{{asset('img/logo-virtuagora-white.svg')}}">
                        <login-component form-url="{{ path_for('runLogin') }}" message="{{subject.type}}"></login-component>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}