<h3 class="title">09/05/2018 - v. 1.2:</h5>
<p>CAMBIOS MAYORES:</p>
<ul>
  <li>
    Para los que se registraron con
    <i class="fab fa-facebook fa-fw"></i>
    Facebook que requerían verificar su email: Debido a la demanda de varios usuarios que no contaban con correo electrónico, el Gabinete Joven ha habilitado que puedan utilizar su perfil de facebook como identidad. Por lo tanto, ya no requieren tener una cuenta de email si se han registrado con Facebook.
  </li>
  <li>
    Por demanda, se aumentó el limite de caracteres del nombre de una organización a 100 caracteres.
  </li>
  <li>
    Por último, hemos arreglado un conjunto de bugs y errores visuales de la App.
  </li>
</ul>
<a href="{{path_for('showAyuda')}}#log" class="button is-white is-fullwidth is-outlined">Leer la bitácora de cambios anteriores</a>
<h3 class="title">07/05/2018 - v. 1.1.1:</h5>
<ul>
  <li>
    Se agregó un countdown para que sepan como vienen con las fechas ;)
  </li>
  <li>
    Se arreglo un problema con ver la información de un equipo asociado a una organización.
  </li>
</ul>
<h3 class="title">03/05/2018 - v. 1.1:</h5>
<p>CAMBIOS MAYORES:</p>
<ul>
  <li>
    ¡Ahora pueden bancar proyectos! En cada HUB del proyecto podrán encontrar el botón de bancar.
  </li>
  <li>
    Agregados los botones de compartir en Facebook, Twitter y Whatsapp (Solo funciona en móviles)
  </li>
  <li>
    Se agregó la posibilidad de dejar comentarios a los proyectos. Se pueden responder a cada comentario.
  </li>
  <li>
    Agregamos también la posibilidad de que puedan "Aplaudir" a los comentarios y respuestas.
  </li>
  <li>
    Ahora los responsables pueden borrar el grupo. Si tienen ya un proyecto hecho, también se borrará. Todos los miembros del equipo también se desvinculan y pueden unirse a otros grupos de querer.
  </li>
</ul>
<p>ARREGLOS y MEJORAS:</p>
<ul>
  <li>
    Ahora los responsables de los proyectos tendrán un icono que les avisará si tienen una solicitud pendiente
  </li>
  <li>
    Arreglado el problema que no podián enviar una solicitud para colaborar en un proyecto.
  </li>
  <li>
    Arreglado un problema al subir fotos de DNI. Los que hayan tenido problemas, ¡Vuelvan a intentar!
  </li>
  <li>
    Ahora se ve correctamente en el HUB del proyecto, en el apartado del equipo, quien es el Responsable y el Co-responsable
  </li>
  <li>
    Por alguna razón "Verificar email" no estaba apareciendo correctamente para aquellos que se registraban con Facebook, (Si te registraste usando Facebook, probablemente para ser parte de un equipo te este faltando este paso... Si te encontraste con este problema, y si asi fue tu caso, te pedimos por favor que intentes verificar tu Email ahora!)
  </li>
  <li>
    Agregada la sección de "Ayuda" donde podrán saber como contactarnos para mandar sugerencias o reportar un error con la plataforma.
  </li>
  <li>
    Arreglado otros bugs y mejoras visuales.
  </li>
</ul>