<h3 class="title">Actualización v. 1.1:</h5>
<ul>
  <li>
    ¡Ahora pueden bancar proyectos! En cada HUB del proyecto podrán encontrar el boton de bancar.
  </li>
  <li>
    Agregados los botones de compartir en Facebook, Twitter y Whatsapp (Solo funciona en móviles)
  </li>
  <li>
    Se agregó la posibildad de dejar comentarios a los proyectos. Se pueden responder a cada comentario.
  </li>
  <li>
    Agregamos tambien la posibilidad de que puedan "Aplaudir" a los comentarios y respuestas.
  </li>
</ul>

<p>ARREGLOS y MEJORAS:</p>

<ul>
  <li>
    Ahora los responsables de los proyectos tendran un icono que les avisará si tienen una solicitud pendiente
  </li>
  <li>
  Arreglado el problema que no podian enviar una solicitud para colaborar en un proyecto.
  </li>
  <li>
    Arreglado un problema al subir fotos de DNI. Los que hayan tenido problemas, ¡Vuelvan a intentar!
  </li>
  <li>
    Ahora se ve correctamente en el HUB del proyecto, en el apartado del equipo, quien es el Responsable y el Co-responsable
  </li>
  <li>
    Por alguna razon "Verificar email" no estaba apareciendo correctamente para aquellos que se registraban con Facebook, (Si te registraste usando Facebook, probablemente para ser parte de un equipo te este faltando este paso... Si te encontraste con este problema, y si asi fue tu caso, te pedimos por favor que intentes verificar tu Email ahora!)
  </li>
  <li>
    Agregada la sección de "Ayuda" donde podrán saber como contactarnos para mandar sugerencias o reportar un error con la plataforma.
  </li>
  <li>
    Arreglado otros bugs y mejoras visuales.
  </li>
</ul>